<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus tickets - Helpdesk NIT</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/new_user.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/side_menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/table.css') }}">
    
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/log-out.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
</head>
<body>
    <div class="sidenav">
        <img src="{{ url_for('static', filename='images/NIT_logo.png') }}" alt="logo-main" class="logo-main">
        {%if is_admin%}
            <div class="menu-item">
                <a href="/admin_init"><i class="fa fa-home"></i> Inicio</a>
            </div>
            <div class="menu-item">
                <a href="/new_ticket"><i class="fa fa-ticket"></i> Abrir novo ticket</a>
            </div>
            <div class="menu-item">
                <a href="/admin_pannel"><i class="fa fa-dashboard"></i> Painel de administração</a>
            </div>
            <div class="menu-item">
                <a href="/pannel_personal"><i class="fa fa-user" ></i>Painel pessoal</a>
            </div>
            <div class="menu-item">
                <a href="/pannel_group"><i class="fa fa-users"></i>Painel de grupo</a>
            </div>

            <div class="menu-item">
                <a href="/gerirtopicos"><i class="fa fa-list-alt"></i>Gerir tópicos</a>
            </div>
            
            <div class="menu-item">
                <a href="/my_profile"><i class="fa fa-user"></i> Meu perfil</a>
            </div>
            <div class="menu-item">
                <a href="/new_user"><i class="fa fa-user-plus"></i> Gerir utilizadores</a>
            </div>
            <div class="menu-item">
                <a href="/logout"><i class="gg-log-out"></i> Terminar sessão</a>
            </div>
        {%endif%}
        
        {%if not is_admin%}
            <div class="menu-item">
                <a href="/init_page"><i class="fa fa-home"></i> Inicio</a>
            </div>
            <div class="menu-item">
                <a href="/new_ticket"><i class="fa fa-ticket"></i> Abrir novo ticket</a>
            </div>
            <div class="menu-item">
                <a href="/my_tickets"><i class="fa fa-users"></i> Tickets</a>
            </div>
            <div class="menu-item">
                <a href="/my_profile"><i class="fa fa-user"></i> Meu perfil</a>
            </div>
            <div class="menu-item">
                <a href="/logout"><i class="gg-log-out"></i> Terminar sessão</a>
            </div>
        {% endif %}
       
        
        
    </div>

    <div class="main">
        <h1>Tickets</h1>
        <button id="all-btn"  class="button-filter">Todos({{ all_tickets }})</button>
        <button id="aberto-btn"  class="button-filter">Aberto({{ open_tickets }})</button>
        <button id="fechado-btn"  class="button-filter">Fechado({{ close_tickets }})</button>
        <button id="executing-btn"  class="button-filter">Em execucao({{ executing_tickets }})</button>
        <table id="ticket-table">
            <thead>
                <tr>
                    <th>#Pedido</th>
                    <th>Data de criação</th>
                    <th>Estado</th>
                    <th>Assunto</th>
                    <th>Atribuído a</th>
                </tr>
            </thead>
            <tbody id="ticket-table-body">
                <!-- Ticket data will be inserted here -->
            </tbody>
        </table>
        
        <div id="pagination">
            <button id="prev-btn" class="button">Anterior</button>
            <span id="page-num">1</span>
            <button id="next-btn" class="button">Próximo</button>
        </div>
        
       
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var tickets = [ 
                {% for ticket in tickets %}
                {
                    id: "{{ ticket.id }}",
                    date: "{{ ticket.date }}",
                    state: "{{ ticket.state }}",
                    title: "{{ ticket.title }}",
                    attributed: "{{ ticket.attributed_name}}"
                },
                {% endfor %}]; // Sample ticket data
            var currentPage = 1; // Set currentPage to 1 initially
            var ticketsPerPage = 10; // Number of tickets to display per page
    
            var tableBody = document.getElementById('ticket-table-body');
            var prevButton = document.getElementById('prev-btn');
            var nextButton = document.getElementById('next-btn');
            var pageNumSpan = document.getElementById('page-num');
            var abertoButton = document.getElementById('aberto-btn');
            var fechadoButton = document.getElementById('fechado-btn');
            var executingButton = document.getElementById('executing-btn');
            var allButton = document.getElementById('all-btn'); // Add this line
            var currentFilter = 'all'; // Default filter
    
            // Function to display tickets for the current page
            function displayTickets() {
                var filteredTickets;
                if (currentFilter === 'aberto') {
                    filteredTickets = tickets.filter(ticket => ticket.state === 'Aberto');
                } else if (currentFilter === 'fechado') {
                    filteredTickets = tickets.filter(ticket => ticket.state === 'Fechado');
                }else if (currentFilter === 'em execucao') {
                    filteredTickets = tickets.filter(ticket => ticket.state === 'em execucao');
                }else {
                    filteredTickets = tickets;
                }
    
                var startIdx = (currentPage - 1) * ticketsPerPage;
                var endIdx = Math.min(startIdx + ticketsPerPage, filteredTickets.length);
    
                tableBody.innerHTML = ''; // Clear previous entries
    
                for (var i = startIdx; i < endIdx; i++) {
                    var ticket = filteredTickets[i];
                    var row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${ticket.id}</td>
                        <td>${ticket.date}</td>
                        <td>${ticket.state}</td>
                        <td><a href="/ticket_details/${ticket.id}">${ticket.title}</a></td>
                        <td>${ticket.state === 'Aberto' ? '-' : ticket.attributed}</td>
                    `;
                    tableBody.appendChild(row);
                }
    
                pageNumSpan.textContent = currentPage;
            }
    
            // Function to navigate to the previous page
            function goToPrevPage() {
                if (currentPage > 1) {
                    currentPage--;
                    displayTickets();
                }
            }
    
            // Function to navigate to the next page
            function goToNextPage() {
                var totalPages = Math.ceil(tickets.length / ticketsPerPage);
                if (currentPage < totalPages) {
                    currentPage++;
                    displayTickets();
                }
            }
    
            // Event listeners for filter buttons
            abertoButton.addEventListener('click', function () {
                currentFilter = 'aberto';
                currentPage = 1; // Reset page number when changing filter
                displayTickets();
            });
    
            fechadoButton.addEventListener('click', function () {
                currentFilter = 'fechado';
                currentPage = 1; // Reset page number when changing filter
                displayTickets();
            });
    
            executingButton.addEventListener('click', function () {
                currentFilter = 'em execucao';
                currentPage = 1; // Reset page number when changing filter
                displayTickets();
            });
    
            allButton.addEventListener('click', function () {
                currentFilter = 'all';
                currentPage = 1; // Reset page number when changing filter
                displayTickets();
            });
    
            // Event listeners for pagination buttons
            prevButton.addEventListener('click', goToPrevPage);
            nextButton.addEventListener('click', goToNextPage);
    
            // Initial display
            displayTickets();
        });
    </script>
    
    
    
</body>
</html>
