/* side_menu.css */

.sidenav {
    height: 100%;
    width: 270px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333333;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Spacing between menu items */
}

.menu-item {
    padding: 10px 16px;
    transition: background-color 0.3s; /* Smooth transition */
}

.menu-item a {
    display: flex;
    align-items: center;
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition */
}

.menu-item a:hover {
    background-color: #444; /* Highlight on hover */
}

.menu-item a:hover span {
    color: #fff; /* Change text color on hover */
}

.menu-item a span {
    margin-left: 10px; /* Adjust as needed */
}

.menu-item a i {
    color: #ccc;
    margin-right: 10px; /* Spacing between icon and text */
}

#logout-button {
    margin-top: 380px; /* Aligns the button to the bottom */
    padding: 10px 16px;
}

.main {
    margin-left: 250px; /* Adjust to match side menu width */
    padding: 16px;
}

.logo-main {
    margin-left: 15px; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust as needed */
}
